/*
    COLUMN GRID:
    Column: 70px
    Margin: 30px
*/

/* Medium: 840px - 1199px */
body {
	color: #575153;
	font: 13px arial, sans-serif;
	background-color: #ffffff;
	margin: 0;
}

.grid-width {
	width: 770px;						/* SIZE */
	height: 100%;
	margin: 0 auto;
}

/* top - bar ===================================================================*/
.topbar {
	background-color: #333333;
	height: 45px;
	color: #898989;
	font: 16px arial, sans-serif;
}
.topbar a {
	text-decoration: none;
	color: #898989;
}
#curr {
	padding: 12px 12px 15px 12px;
	margin: 0 310px 0 0;				/* SIZE */
	float: left;
}
#curr:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#curr a {
	color: inherit;
}
#consumer {
	display: inline-block;
	padding: 12px 12px 15px 12px;
}
#consumer:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#consumer a {
	color: inherit;
}
#cart {
	padding: 12px 12px 15px 12px;
	float: right;
}
#cart:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#cart a {
	color: inherit;
}
/* end of top - bar ============================================== */

/* header =========================================================*/
header {
	width: 100%;
	height: 600px;
	display: block;
	margin: 0 0 30px 0;
	position: relative;
    }
.slider {
	background-color: #f8f8f8;
	width: 100%;							/* SIZE */
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
}
.slide {
	width: 770px;
	height: 100%;
	margin: 0 auto;
}
.slider img {
	height: 100%;
	display: block;
	margin: 0;
}
.tophead {
	width: 770px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: flex-end; 
}
#logo {
	margin: 40px 110px 0 0;							/* SIZE */
	display: inline-block;
	font: 24px arial, sans-serif;

	order: 1;
}
#logo a {
	text-decoration: none;
	color: inherit;
}
form[name="search"] {
	font: 13px arial, sans-serif;
}
.ssearch {
	width: 162px;
	margin: 40px 8px 0 0;
	position: relative;

	order: 2;
}
.ssearch input {
	border-color: 1px solid #e7e7e7;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}
.sspace {
	width: 100%;
}
.ssubmit {
	position: absolute;
	border: none;
	top: 0;
	right: 0;
	height: 100%;
	width: 30px;
	background: url(../Images/header/search-submit.png) 50% no-repeat;
}
.nav-header {
	margin: 40px 0 0 0;
	width: 1170px;

	order: 3;
}
.nav-header ul {
	margin: 0;
	float: right;
	padding: 0;
}
.nav-header li {
	list-style-position: none;
	font: bold 13px arial, sans-serif;
	display: inline-block;
	margin: 0 0 0 30px;
	cursor: pointer;
	position: relative;
	vertical-align: top;
}
.nav-header li a {
	display: block;
	text-decoration: none;
	color: #575153;
}
.nav-header li a:hover {
	color: #00c8c8;
}
.nav-header ul .nav-drop-down {
	display: none;
	position: absolute;
	top: 100%;
}
.nav-header ul li:hover > .nav-drop-down {
	display: inherit;
}
.nav-drop-down {
	background-color: #ffffff;
	height: 480px;
	width: 380px;
	box-shadow: 0px 5px 30px #575153;
}
.nav-flex {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly; 
	align-content: space-evenly;
}
.nav-text {
	flex-basis: 40%;
}
.nav-text h1 {
	font: bold 16px arial, sans-serif;
	margin: 0 0 20px 0;
}
.nav-text a {
	display: inline-block;
	font: 14px arial, sans-serif;
	margin: 4px 0;
	text-decoration: none;
	color: #575153;
}
.nav-button {
	flex-basis: 90%;
	background-color: #00c8c8;
}
.nav-button img {
	width: 100%;
	height: 100%;
}
.midhead {
	display: block;
	width: 100%;
}
.logo-header {
	width: 100%;
	text-align: center;
	font: bold 320px arial, sans-serif;
	margin: 0;

	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: space-evenly; 
}
#h-button {
	text-decoration: none;
	color: #575153;

	display: block;
	font: bold 24px arial, sans-serif;
	border: 2px solid #575153;
	padding: 11px 16px 11px 16px;
	width: 312px;
	float: right;
	margin-right: 15%;
}
#h-button:hover {
	border: none;
	color: #ffffff;
	background-color: #00c8c8;
}
/* end of header ===================================================*/

/* items ===========================================================*/
.items {
	width: 770px;
	margin: 0 auto;
}
.inav {
	width: 100%;
	float: left;
	margin: 40px 0 10px 0;
}
.inav a {
	text-decoration: none;
}
.inav:hover {
	color: #00c8c8;
}
.inav ul {
	margin: 0;
}
.inav li {
	list-style-position: none;
	font: bold 13px arial, sans-serif;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	vertical-align: top;
}
.inav li a {
	display: block;
	text-decoration: none;
	color: #575153;
}
.inav li a:hover {
	color: #00c8c8;
}

.itembox {
	width: 100%;
	margin: 40px auto;
	
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: center; 
	/*over here i can use: flex-start | flex-end | center | space-between | space-around | space-evenly */
	/*align-items: flex-start; /* like a "justify-content" but for a cross-direction*/ 
}
.itemcol {
	flex-basis: 100%;
	height: 100%;
	margin: 4px;
	
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: space-around; 
	align-content: space-around;
}
.itembox img {
	height: 100%;
	display: block;
	margin: 0 auto;
}
.itembox span {
	font: 24px arial, sans-serif;
	color: #575153;
	position: absolute;
	top: 0;
	left: 5px;
}
.item-small {
	background-color: #f8f8f8;
	order: 1;
	flex-basis: 48%;
	height: 320px;
	position: relative;
	margin: 4px;
}
.item-big {
	background-color: #f8f8f8;
	order: 3;
	flex-basis: 98%;
	height: 450px;
	position: relative;
	margin: 4px;
}
.item-info {
	width: 100%;
	height: 420px;
	box-shadow: 0px 5px 30px #575153;
	z-index: 8;
}
.item-small .item-info {
	display: none;
	position: absolute;
	top: 0;
}
.item-small:hover .item-info {
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
}
.item-info-menu {
	order: 3;
	background-color: #ffffff;
	height: 100px;
	width: 100%;

	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: center;
}
.item-info-menu .itext {
	width: 100%;
	height: 60%;
	font: 13px arial, sans-serif;
	text-align: center;
}
.itext h1 {
	font: bold 13px arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 4px 0 4px 0;
}
.item-info-menu .ibutton {
	width: 50%;
	height: 40%;

	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: nowrap;		/* drag an flex item to new row or no */
	justify-content: center;
}
.ibutton img {
	display: block;
	height: 80%;
}
.item-info-preview {
	order: 2;
	height: 320px;
	width: 25%;

	display: flex;
	flex-direction: column;	/* flex-block direction*/
	flex-wrap: nowrap;		/* drag an flex item to new row or no */
	justify-content: flex-start;
}
.item-info-preview img {
	display: block;
	width: 80%;
	height: auto;
	border: 1px #ffffff solid;
	margin: 10px 0 0 0;
}
.item-info-button {
	order: 1;
	height: 320px;
	width: 75%;
}
/* end of items ====================================================*/

/* lookbook ========================================================*/
.lookbook {
	height: 320px;
	width: 100%;
	margin: 40px auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
}
.lookbook img {
	height: 100%;
	display: block;
	margin: auto 0;
}
.lookbookbox {
	background-color: #f8f8f8;
	flex-basis: 33%;
	height: 100%;
	position: relative;
}
.lookbookbox a {
	text-decoration: none;
	color: #575153;
	font: bold 14px arial, sans-serif;
}
.lookbooktext {
	text-align: right;
	font: 12px arial, sans-serif;
	color: #575153;
	
	width: 50%;
	height: 49%;
	position: absolute;
	top: 15%;
	right: 5%;
}
.lookbooktext .b {
	display: inline-block;
	font: bold 22px arial, sans-serif;
}
.lookbooktext .nb {
	display: inline-block;
	font: 22px arial, sans-serif;
}
.lbbutton {
	display: block;
	text-align: center;
	font: 16px arial, sans-serif;
	color: #575153;
	border: 2px solid #575153;
	padding-top: 15px;
	
	width: 30%;
	height: 10%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}
.lbbutton:hover {
	color: #ffffff;
	background-color: #00c8c8;
	border: none;
}
/* end of lookbook =================================================*/

/* footer ==========================================================*/
footer {
	background-color: #f8f8f8;
	width: 100%;
	height: 500px;
	margin-top: 40px;
}
.flexfooter {
	width: 840px;
	height: 100%;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: space-evenly;
}
.footertextbox {
	color: #575153;
	font: 13px arial, sans-serif;
	background-color: #f8f8f8;
	flex-basis: 100%;
	height: 40%;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; 
}
.footertext {
	flex-basis: 20%;
	height: 100%;
}
.footertext h1 {
	font: bold 16px arial, sans-serif;
	margin: 0 0 20px 0;
}
.footertext a {
	display: inline-block;
	margin: 4px 0;
	text-decoration: none;
	color: #575153;
}
.footertext a:hover {
	color: #00c8c8;
}
.footertext span {
	display: inline-block;
	margin: 4px 0 12px 0;
	color: #575153;
}
.footerbutton {
	background-color: #f8f8f8;
	flex-basis: 49%;
	margin: 1% 0 0 0;
	
	height: 40%;
}
.footerbutton img {
	width: 100%;
}
/* end of footer ===================================================*/

/* botbar ==========================================================*/
.botbar {
	background-color: #333333;
	height: 45px;
	display: block;
}
#botbarleft {
	color: #898989;
	font: 16px arial, sans-serif;
	float: left;
	margin: 15px 0 0 0;
}
#botbarright {
	color: #898989;
	font: 16px arial, sans-serif;
	float: right;
	margin: 15px 0 0 30px;
}
/* end of botbar ===================================================*/