body {
	color: #575153;
	font: 13px arial, sans-serif;
	background-color: #ffffff;
	margin: 0;
	height: 2000px;
}

/* top - bar ===================================================================*/

.topbar {
	background-color: #333333;
	height: 45px;
	color: #898989;
	font: 16px arial, sans-serif;
	display: block;
}
.topbar a {
	text-decoration: none;
	color: #898989;
}
.topbar a:hover {
	color: #00c8c8;
}
#curr {
	padding: 12px 12px 15px 12px;
	margin: 0 30% 0 25%;
	float: left;
}
#curr:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#curr a {
	color: inherit;
}
#consumer {
	display: inline-block;
	padding: 12px 12px 15px 12px;
	margin: 0;	
}
#consumer:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#consumer a {
	color: inherit;
}
#cart {
	display: inline-block;
	padding: 12px 12px 15px 12px;
	margin: 0 0 0 2%;
}
#cart:hover {
	color: #ffffff;
	background-color: #00c8c8;
}
#cart a {
	color: inherit;
}
/* end of top - bar ============================================== */

/* header =========================================================*/
header {
	width: 100%;
	height: 800px;
	padding: 0px 0px;
	display: block;
	margin-bottom: 40px;
    }
.slider {
	background-color: #f8f8f8;
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: -1;
}
.slider img {
	height: 100%;
	display: block;
	margin: 0 auto;
}
.tophead {
	display: block;
	height: 100px;
}
#logo {
	margin: 48px 0 0 5%;
	float: left;
}
nav {
	float: right;
	margin-top: 40px;
}
nav ul {
	margin: 0;
}
nav li {
	list-style-position: none;
	font: bold 13px arial, sans-serif;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	position: relative;
	vertical-align: top;
}
nav li a {
	display: block;
	text-decoration: none;
	color: #575153;
}
nav li a:hover {
	color: #00c8c8;
}
nav ul .nav-drop-down {
	display: none;
	position: absolute;
	top: 100%;
}
nav ul li:hover > .nav-drop-down {
	display: inherit;
}
.nav-drop-down {
	background-color: #ffffff;
	height: 400px;
	width: 380px;
	box-shadow: 0px 5px 30px #575153;
}
.nav-flex {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly; 
	align-content: space-evenly;
}
.nav-text {
	flex-basis: 40%;
}

.nav-text h1 {
	font: bold 16px arial, sans-serif;
	margin: 0 0 20px 0;
}
.nav-text a {
	display: inline-block;
	font: 14px arial, sans-serif;
	margin: 4px 0;
	text-decoration: none;
	color: #575153;
}

.nav-button {
	flex-basis: 90%;
	background-color: #00c8c8;
}
.nav-button img {
	width: 100%;
	height: 100%;
}

form[name="search"] {
	margin: 40px 5% 0 5%;
	font: 13px arial, sans-serif;
	float: right;
}
.ssearch {
	width: 10%;
	margin: 40px 5% 0 5%;
	float: right;
	position: relative;
}
.ssearch input {
	border-color: 1px solid #e7e7e7;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}
.sspace {
	width: 100%;
}
.ssubmit {
	position: absolute;
	border: none;
	top: 0;
	right: 0;
	height: 100%;
	width: 30px;
	background: url(../Images/header/search-submit.png) 50% no-repeat;
}
.midhead {
	display: block;
	height: 600px;
	width: 100%;
}
.logo-header {
	width: 100%;
	padding-top: 84px;
	text-align: center;
	font: bold 382px arial, sans-serif;
	letter-spacing: 50px;
}
#h-button {
	text-decoration: none;
	color: #575153;

	display: block;
	font: bold 24px arial, sans-serif;
	border: 2px solid #575153;
	padding: 11px 16px 11px 16px;
	width: 312px;
	float: right;
	margin-right: 15%;
}
#h-button:hover {
	border: none;
	color: #ffffff;
	background-color: #00c8c8;
}
/* end of header ===================================================*/
.items {
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}
.inav {
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-bottom: 10px;
}
.inav a {
	text-decoration: none;
}
.inav:hover {
	color: #00c8c8;
}
.inav ul {
	margin: 0;
}
.inav li {
	list-style-position: none;
	font: bold 13px arial, sans-serif;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	vertical-align: top;
}
.inav li a {
	display: block;
	text-decoration: none;
	color: #575153;
}
.inav li a:hover {
	color: #00c8c8;
}

.itembox {
	width: 100%;
	height: 800px;
	margin: 40px auto;
	
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: center; 
	/*over here i can use: flex-start | flex-end | center | space-between | space-around | space-evenly */
	/*align-items: flex-start; /* like a "justify-content" but for a cross-direction*/ 
}
#itemleft {
	order: 1;
	flex-basis: 50%;
	height: 100%;
	
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: space-around; 
	align-content: space-around;
}
#itemright {
	order: 2;
	flex-basis: 50%;
	height: 100%;
	
	display: flex;
	flex-direction: row;	/* flex-block direction*/
	flex-wrap: wrap;		/* drag an flex item to new row or no */
	justify-content: space-around; 
	align-content: space-around;
}

.itembox img {
	height: 100%;
	display: block;
	margin: 0 auto;
}
.itembox span {
	font: 24px arial, sans-serif;
	color: #575153;
	position: absolute;
	top: 0;
	left: 5px;
}

#item1 {
	background-color: #f8f8f8;
	order: 1;
	flex-basis: 48%;
	height: 39%;
	position: relative;
}
#item2 {
	background-color: #f8f8f8;
	order: 2;
	flex-basis: 48%;
	height: 39%;
	position: relative;
}
#item3 {
	background-color: #f8f8f8;
	order: 3;
	flex-basis: 98%;
	height: 58%;
	position: relative;
}
#item4 {
	background-color: #f8f8f8;
	order: 1;
	flex-basis: 98%;
	height: 58%;
	position: relative;
}
#item5 {
	background-color: #f8f8f8;
	order: 2;
	flex-basis: 48%;
	height: 39%;
	position: relative;
}
#item6 {
	background-color: #f8f8f8;
	order: 3;
	flex-basis: 48%;
	height: 39%;
	position: relative;
}

.lookbook {
	height: 320px;
	width: 1200px;
	margin: 40px auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
}
.lookbook img {
	height: 100%;
	display: block;
	margin: auto 0;
}
.lookbookbox {
	background-color: #f8f8f8;
	flex-basis: 33%;
	height: 100%;
	position: relative;
}
.lookbookbox a {
	text-decoration: none;
	color: #575153;
	font: bold 14px arial, sans-serif;
}
.lookbooktext {
	text-align: right;
	font: 13px arial, sans-serif;
	color: #575153;
	
	width: 50%;
	height: 49%;
	position: absolute;
	top: 15%;
	right: 5%;
}
.lbbutton {
	display: block;
	text-align: center;
	font: 16px arial, sans-serif;
	color: #575153;
	border: 2px solid #575153;
	padding-top: 15px;
	
	width: 30%;
	height: 10%;
	position: absolute;
	bottom: 15%;
	right: 5%;
}
.lbbutton:hover {
	color: #ffffff;
	background-color: #00c8c8;
	border: none;
}

footer {
	background-color: #f8f8f8;
	width: 100%;
	height: 500px;
	margin-top: 40px;
}
.flexfooter {
	width: 1000px;
	height: 100%;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: space-evenly;
}
.footertextbox {
	color: #575153;
	font: 16px arial, sans-serif;
	background-color: #f8f8f8;
	flex-basis: 100%;
	height: 40%;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; 
}
.footertext {
	flex-basis: 20%;
	height: 100%;
}
.footertext h1 {
	font: bold 16px arial, sans-serif;
	margin: 0 0 20px 0;
}
.footertext a {
	display: inline-block;
	margin: 4px 0;
	text-decoration: none;
	color: #575153;
}
.footertext a:hover {
	color: #00c8c8;
}
.footertext span {
	display: inline-block;
	margin: 4px 0 12px 0;
	color: #575153;
}
.footerbutton {
	background-color: #f8f8f8;
	flex-basis: 49%;
	margin: 1% 0 0 0;
	
	height: 40%;
}
.footerbutton img {
	width: 100%;
}

.botbar {
	background-color: #333333;
	height: 30px;
	display: block;
	padding-right: 13%;
	padding-left: 13%;
	padding-top: 15px;
}
#botbarleft {
	color: #898989;
	font: 16px arial, sans-serif;
	float: left;
	margin: auto 0;
}
#botbarright {
	color: #898989;
	font: 16px arial, sans-serif;
	float: right;
	margin: auto 2%;
}












































	